<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="table-responsive">
      <table id="mytable" class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead>
          <tr>
	    <th style="display:none;"></th>
	    <th style="width:35%">Team Member</th>
	    <th style="width:35%" class="hidden-phone">Designated Role</th>
	    <th style="width:15%" class="hidden-phone">Edit</th>
	    <th style="width:15%" class="hidden-phone">Delete</th>
	  </tr>
	</thead>
   	<tbody>
	  <tr>
	    <td class="row-ele-id" style="display:none;">1</td>
	    <td class="row-ele-name">Joe</td>
	    <td class="row-ele-role" class="hidden-phone" >Developer</td>
	    <td>
	      <button class="update" class=" btn btn-primary btn-xs" data-title="Edit"  data-toggle="modal"><i class="fa fa-pencil fa-lg"></i></button></td>
	    <td><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash fa-lg"></i>
	    </button></td>
	  </tr>
	  <tr>
	    <td class="row-ele-id" style="display:none;">2</td>
	    <td class="row-ele-name">Steve</td>
	    <td class="row-ele-role" class="hidden-phone" >Team Lead</td>
	    <td>
	      <button class="update" class=" btn btn-primary btn-xs" data-title="Edit"  data-toggle="modal"><i class="fa fa-pencil fa-lg"></i></button></td>
	    <td><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash fa-lg"></i>
	    </button></td>
	  </tr>
	  <tr>
	    <td class="row-ele-id" style="display:none;">3</td>
	    <td class="row-ele-name">David</td>
	    <td class="row-ele-role" class="hidden-phone" >Manager</td>
	    <td>
	      <button class="update" class=" btn btn-primary btn-xs" data-title="Edit"  data-toggle="modal"><i class="fa fa-pencil fa-lg"></i></button></td>
	    <td><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash fa-lg"></i>
	    </button></td>
	  </tr>          
 	</tbody>
      </table>
      
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		<i class="fa fa-times-circle fa-lg"></i></button>
	      <h4 class="modal-title custom_align" id="Heading">Edit Detail - <span id="edit-model-header-ele-id">1</span></h4>
	    </div>
	    <div class="modal-body">
	      <form  class="form"  method='POST' action="" enctype="application/x-www-form-urlencoded">
		<div class="form-group">
		  <h5>Member Name</h5>
		  <input id="edit-modal-ele-name"class="form-control required" name="member_name" type="text" />	  
		</div>
		<div class="form-group">
		  <h5 id = "role">Designated Role</h5>
		  <input id="edit-modal-ele-role"class="form-control required" name="member_role" type="text" />	                    
		</div> 
		<input type="submit" name = "edit" class="btn btn-warning btn-lg" style="width: 100%;" value="Update">
		
		
	      </form>
	      <!--  <form  class="form"  method='POST' action="">{% csrf_token %}
		    <div class="form-group">
		      
		      <input hidden="true" placeholder={{item.id}}>
		    </div>
		    <div class="form-group">
		      <h5>Member Name</h5>
		      <input class="form-control " type="text" placeholder={{item.member_name}}>
		    </div>
		    <div class="form-group">
		      <h5>Designated Role</h5>
		      <input class="form-control " type="text" placeholder={{item.member_role}}>
		    </div>       
		    <input type="submit" name = "edit" class="btn btn-warning btn-lg" style="width: 100%;" value="Update">
	      </form> -->
	    </div>
	    <!--  <form  class="form"  method='POST' action="">
		  {% csrf_token %}
		  {{team_form|crispy}}
		  
		  <input type="submit" name = "edit" class="btn btn-warning btn-lg" style="width: 100%;" value="Update">
	    </form>   -->
	    <div class="modal-footer ">
	      <!-- <button type="button" name=edit class="btn btn-warning btn-lg" style="width: 100%;">Update</button> -->
	    </div>
	  </div>
	  <!-- /.modal-content --> 
	</div>
	<!-- /.modal-dialog --> 
      </div>      
    </div>
    <script >
      console.log("Check");
      $('button.update').on('click',function(){
      $("#editModal").modal("show");
          $("#edit-model-header-ele-id").text($(this).closest('tr').find('.row-ele-id').text());
          $("#edit-modal-ele-name").val($(this).closest('tr').find('.row-ele-name').text());
          $("#edit-modal-ele-role").val($(this).closest('tr').find('.row-ele-role').text());
         });
    </script>
   
  </body>
</html>
