{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<style>
 {% block style %}
.jumbotron{
 	background-color: rgba(206, 200, 182, 0.47);
 	color:#261b06;
 }

 .btn-primary{
 	background-color: #261b06;
 	border-color:  #261b06;
 }
 .btn-primary:hover{
 	background-color: rgba(46, 110, 105, 0.9);
 	border-color:  #473108;
 }
 .btn-default,.nav-tabs li a {
 	background-color: #261b06;
 	border-color:  #261b06;
 	color: #fff;
 }

 .btn-default:hover,.nav-tabs li a:hover{
 	background-color: rgba(46, 110, 105, 0.9);
 	border-color:  #473108;
 	color: #fff;
 }
.jumbotron p a{
	color: rgba(22, 158, 148, 0.91) !important;
	font-size: 15px;
}
.jumbotron p{
	font-size: 15px;
}
.jumbotron p a:hover{
	color: rgba(46, 110, 105, 0.9) !important;
	font-size: 15px;
}
.container{
  font-size: 20px;
}
.breadcrumb{
	background-color: transparent;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
form {
    width: 300px;
    margin: 0 auto;
}


 {% endblock %}
 </style>

{% block jumbotron %}



<div class="jumbotron">
<div class="container">
<a type = "button "class="btn btn-default pull-right" href="{% url 'projectoverview' name=project_data.name%}">Back To Overview</a><br><br>

<div class="row">

<div class='col-sm-12'>
<h2 class="text-align-center">Details of {{project_data.name}}</h2>
<br>
	    

  <ul class="nav nav-tabs" id="detail_tabs">
    <li class="active" ><a data-toggle="tab" href="#plan">Plan</a></li>
    <li><a data-toggle="tab" href="#schedule">Schedule</a></li>
    <li><a data-toggle="tab" href="#bom">BOM</a></li>
    <li><a data-toggle="tab" href="#building">Prototype</a></li>
  </ul>


<div class="tab-content">
     {% include "project/details/plan_tab.html" %}
    {% include "project/details/schedule_tab.html" %}
     {% include "project/details/bom_tab.html" %}
     {% include "project/details/prototype_tab.html" %}
		
</div>
		  </div>
		  <!--  <button type="submit" class="btn btn-default pull-right" href="">Save Changes</a>
		   </form>	 -->
    </div>

</div>
</div>

{% endblock %}

{% block javascript_page %}
<script>
	var project_id = {{ project_data.id }};
</script>
<script type="text/javascript"> 
 $('#detail_tabs a').click(function(e) {
  e.preventDefault();
  $(this).tab('show');
});

// store the currently selected tab in the hash value
$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
  var id = $(e.target).attr("href").substr(1);
  window.location.hash = id;
});

// on load of the page: switch to the currently selected tab
var hash = window.location.hash;
$('#detail_tabs a[href="' + hash + '"]').tab('show');
</script>

<script src="{% static 'js/project/details.js' %}"></script>
{% endblock %}