{% load crispy_forms_tags %}
<div id="bom" class="tab-pane fade">
	<div class="tab-content" style="display: inline ; text-align: left">
	  

	    <h3 class="text-align-center">View Orders</h3>
		<button class="btn btn-default pull-right" data-title="Add" data-toggle="modal" data-target="#add_order">New Order</button>
		<div style="clear:both"></div>
		
   		
   		<form class="form" action="" method="POST" >{% csrf_token %}
		    {{ process_url_form|crispy }}
		    <button class="btn btn-default" name="process_url" type="submit">Process URL</button>
	    </form><br>
	    
		<!-- <form class="form" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
  			<input type="file"  name="excel_data" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
  			<button class="btn btn-default"  type="submit">Upload Excel</button>
		</form>  -->
        <form class="form" method='POST' action="" enctype="multipart/form-data">{% csrf_token %}
			{{excel_form|crispy}}
			<button class="btn btn-default" name="excel_data" type="submit">Upload Excel</button>
		</form> 
	

	    <h5 class="text-align-center">{{order_message}}</h5>


   		{% if order_data %}
	    <div class="table-responsive" >
			<table id="orderTable" class="table table-condensed table-striped table-bordered table-hover no-margin" style="table-layout: fixed;">
				<thead><tr>
					<!-- <th data-field="order_id" data-visible="false" style="display:none;"></th> -->
					<th data-field="order_id" style="display:none;">Id</th>
					<th data-field="added-on" style="display:none;"></th>
					<th style="width:6%">Date</th>
					<th style="width:13%">Category</th>
					<!-- <th data-field="sub_category" style="display:none;">Sub Category</th> -->
					<th style="width:10%">Item</th>
					<th style="width:10%">Vendor</th>
					<th style="width:5%">Item URL</th>
					<th style="width:5%">Qty</th>
					<!-- <th style="width:5%">Unit</th> -->
					<th style="width:7%">Price</th>
					<th style="width:5%">ELT</th>
					<!-- <th data-field="order_status_id" data-visible="false" style="display:none;"></th> -->
					<!-- <th data-field="order_status_id" style="width:3%">Status position</th> -->
					<th style="width:9%">Status</th>
                    <th style="width:5%">Track</th>
					<!-- <th style="width:5%">Ask</th> -->
					<th style="width:15%">Modify</th>
					<!-- <th style="width:5%">Delete</th> -->

				</tr></thead>
	 			<tbody id="orderTableBody">

			   </tbody>

			</table>
			</div>


{% endif %}


{% include "project/details/bom_modal/add.html" %}

{% include "project/details/bom_modal/edit.html" %}

{% include "project/details/bom_modal/delete.html" %}

{% include "project/details/bom_modal/comment.html" %}

{% include "project/details/bom_modal/track.html" %}
</div>
</div>