{% load crispy_forms_tags%}
<div class="modal fade" id="add_order" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
   <div class="modal-dialog">
	 <div class="modal-content">
		 <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		        <i class="fa fa-times-circle fa-lg"></i></button>
		        <h4 class="modal-title custom_align" id="Heading">New Order</h4>
		  </div>
          <div class="modal-body">
            <!-- <form class="form" method='POST' action="">{% csrf_token %}
				{{schedule_form|crispy}}
				<input class='btn btn-block btn-primary' name = "schedule_save" type='submit' value = "Submit">
			</form> -->
             <form class="form"  method='POST' enctype="application/x-www-form-urlencoded" action="">
             	{% csrf_token %}
             	<!-- {{ material_form|crispy }} -->
                {% for mat in material_form %}
                     <div class="col-sm-6">
                       <div style="font-size: 15px;">{{ mat.label_tag }}</div> {{ mat }}<br>
                    </div>
                {% endfor %}
				<input type="submit" name = "material_save" class="btn btn-warning btn-lg" style="width: 100%;" value="Place Order"> 
			</form>   
	 
          </div>
          <div class="modal-footer ">
            <!--  <input type="submit" class="btn btn-warning btn-lg" style="width: 100%;">Save</input> -->
         </div>
      </div>
    <!-- /.modal-content --> 
    </div>
      <!-- /.modal-dialog --> 
</div>

<div class="modal fade" id="orderStatusModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
   <div class="modal-dialog">
	 <div class="modal-content">
		 <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		        <i class="fa fa-times-circle fa-lg"></i></button>
		        <h4 class="modal-title custom_align text-align-center" id="Heading">Order Status</h4>
		  </div>
          <div id = "orderStatusBodyModal"class="modal-body text-align-center">
            <!-- <form class="form" method='POST' action="">{% csrf_token %}
				{{schedule_form|crispy}}
				<input class='btn btn-block btn-primary' name = "schedule_save" type='submit' value = "Submit">
			</form> -->
			 <!--  <span id="modal-order-status-id">1</span>	
	          {% for item in order_status_data%}
	          	<div>
	          		{{item.name}}
	          	</div>
	          {% endfor %} -->
	                      
            
	 
          </div>
          <div class="modal-footer ">
            <!--  <input type="submit" class="btn btn-warning btn-lg" style="width: 100%;">Save</input> -->
         </div>
      </div>
    <!-- /.modal-content --> 
    </div>
      <!-- /.modal-dialog --> 
</div>
